@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  font-family: 'Source Sans Pro', sans-serif;
  color: #534939;
  scroll-behavior: smooth;
  --accent-font-family: 'Bree Serif', serif;
  --accent-color: #f09b13;
}

body {
  display: flex;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 15px;
}

nav,
main {
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

#open_options {
  font-family: 'Source Sans Pro', sans-serif;
  background: none;
  border: none;
  font-size: 30px;
}
#open_options:hover {
  color: var(--accent-color);
}

#open_options:active {
  color: #62a142;
}

h1 {
  margin: 5px;
  text-align: center;
  color: rgb(153, 196, 84);
}

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.list_container:hover {
  color: #f09b13;
}

.list_container .active {
  color: #81c260;
}

.count {
  font-size: 22px;
  font-style: italic;
}

.item_list {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 10px;
  background: bisque;
  border-radius: 5px;
  min-height: 40px;
  max-width: 80%;
}

.item_list div {
  display: flex;
  align-items: center;
}

.item_list label {
  word-wrap: break-word;
  margin: 0 10px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(110, 120, 134, 0.781);
  min-width: 20%;
}

main {
  margin-left: 20px;
  min-width: 70%;
  padding: 15px;
  background: rgba(199, 199, 199, 0.856);
  position: relative;
}

.label {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.remove_task {
  background: initial;
  border: none;
  border-radius: 10px;
  min-width: 15px;
}

.remove_task:hover,
#close_options:hover {
  background-color: rgba(199, 199, 199, 0.856);
}

.remove_task:active,
#close_options:active {
  color: red;
}

ul li {
  font-size: 18px;
  list-style-type: none;
}

.incorect {
  color: red;
  font-size: 13px;
}
.done {
  background: rgba(160, 197, 193, 0.637);
}
.done label {
  text-decoration: line-through;
}

.wide {
  display: flex;
  overflow: hidden;
  position: absolute;
  bottom: 1.5rem;
  min-width: 80%;
}

#new_task {
  border: 2px solid #cf5757;
  border-radius: 10px;
  display: block;
  height: 30px;
  padding: 10px 30px;
  width: 100%;
}

#new_task:focus-visible {
  outline: none;
  border: 2px solid #62a142;
}

.addTask {
  background: #bba5a5;
  margin-left: 5px;
  border: 0;
  border-radius: 10px;
  border-radius: 10px;
  border-right: 1px solid #cbcbcc;
  display: block;
  float: right;
  height: 52px;
  width: 52px;
}

.addTask:hover {
  background: #f06420;
}

.addTask:active {
  background-color: #62a142;
}

/* options */

#options {
  position: fixed;
  background: #534939;
  min-height: 100%;
  min-width: 10%;
  right: 0;
  text-align: right;
  transform: translateX(200px);
  transition: 0.5s ease-in transform;
}

#options_overley {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0, 0);
  transition: background 0.2s ease-in;
}

#options_overley,
#options {
  opacity: 0;
  z-index: -1;
}

#options_overley.open #options {
  transform: translateX(0);
}

#options_overley.hide #options {
  transform: translateX(200px);
}

#options_overley.open {
  background: rgba(0, 0, 0, 0.5);
}

#options_overley.hide {
  background: rgba(0, 0, 0, 0.5);
}

#options_overley.open #options,
#options_overley.open,
#options_overley.hide #options,
#options_overley.hide {
  opacity: 1;
  z-index: 999;
}

#close_options {
  background: none;
  font-size: 24px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}

#background {
  display: grid;
}

#background img {
  max-width: 80px;
  margin: 5px;
}
#background img:hover {
  box-shadow: 0 0 15px rgb(167, 156, 156);
}

#background img:active {
  box-shadow: 0 0 15px rgb(236, 234, 95);
}

/* options */
